.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 20px;
}

.input {
    font-size: 1rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
    width: 4rem;
}
  
.button {
    background-color: #007bff;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
  
.button:hover {
    background-color: #0056b3;
    transform: scale(1.05); 
}
  
.status {
    font-size: 1rem;
    margin: 0.5rem 0;
}
  
.highScore {
    font-size: 1rem;
    margin: 0.5rem 0;
}
  

/* Estilos generales para el botón cancelar*/
.cancel-button {
    background-color: #d8000c; 
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
.cancel-button:hover {
    background-color: #a70005; 
    transform: scale(1.05); 
}
  
.cancel-button:active {
    background-color: #8a0002; 
    transform: scale(0.95); 
}

.cancel-button:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(216, 0, 12, 0.3);
}